#application {
    background-color: rgba(44, 44, 44, 0.699);
}
#scaler {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/fretboardRighty.jpg');
    height: 300px;
    width: auto;
    margin-top: -50px;
    margin-bottom: -50px;
    padding-top: 63px;
}

.zindex {
    z-index: +1;
}

.dot {
    /* margin-top: 10px;
    margin-left: 35px; */
    width: 15px;
    height: 15px;
    background-color: rgba(255, 0, 0, 0.699);
    border-radius: 45px;
}

#highE {
    padding-top: 11px;
}
#B, #G, #D, #A, #E {
    padding-top: 9px;
}

.fret0 {
    padding-left: 38px;
}

.fret1 {
    padding-left: 38px;
}

.fret2 {
   padding-left: 85px; 
}

.fret3 {
    padding-left: 80px; 
 }

 .fret4 {
    padding-left: 77px; 
 }

 .fret5 {
    padding-left: 73px; 
 }

 .fret6 {
    padding-left: 67px; 
 }

 .fret7 {
    padding-left: 60px; 
 }

 .fret8 {
    padding-left: 57px; 
 }

 .fret9 {
    padding-left: 55px; 
 }

 .fret10 {
    padding-left: 50px; 
 }

 .fret11 {
    padding-left: 47px; 
 }

 .fret12 {
    padding-left: 42px; 
 }

 .fret13 {
    padding-left: 38px; 
 }

 .fret14 {
    padding-left: 33px; 
 }

 .fret15 {
    padding-left: 27px; 
 }

 .fret16 {
    padding-left: 25px; 
 }

 .fret17 {
    padding-left: 23px; 
 }

 .fret18 {
    padding-left: 22px; 
 }

 .fret19 {
    padding-left: 19px; 
 }

 .fret20 {
    padding-left: 18px; 
 }

 .fret21 {
    padding-left: 16px; 
 }


